{% extends 'User/doshbord_user.html.twig' %}
{% block title %}
    لیست دسته بندی ها
{% endblock %}
{% block main %}
    {% set i = 1 %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr class="bg-light">
                        <th scope="col">#</th>
                        <th scope="col">نام</th>
                        <th scope="col">دسته بندی پدر</th>
                        <th scope="col">وضعیت</th>
                        <th scope="col">حذف</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                    <tr class="border-bottom">
                        <th scope="row">{{ i }}</th>
                        <td><a href="{{ path('edit_category', {id : category.id}) }}">{{ category.name }}</a></td>
                        {% if category.parent != null%}
                            <td>{{ category.parent.name }}</td>
                        {% else %}
                            <td>ندارد</td>
                        {% endif %}
                        <td>
                            {% if category.status == true %}
                                <div class="badge badge-light-success">فعال</div>
                            {% else %}
                                <div class="badge badge-light-danger">غیر فعال</div>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('delete_category', {id : category.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>

                            </a>
                        </td>
                    </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
        document.getElementById('list_category').className = 'menu-link active';
        document.getElementById('article_scrole').className = "menu-item menu-accordion hover show";
</script>
{% endblock %}
