{% extends "User/doshbord_user.html.twig" %}
{% block title %}
    افزدودن اپلیکیشن
{% endblock %}

{% block main %}
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body p-0">
                <!--begin::Heading-->
                <div class="card-px text-center py-20 my-10">
                    <!--begin::Title-->
                    <h2 class="fs-2x fw-bolder mb-10">اضافه کردم پکیج</h2>
                    <!--end::Title-->
                    <!--begin::Action-->
                    <a href="#" class="btn btn-primary er fs-6 px-8 py-4" data-bs-toggle="modal"
                       data-bs-target="#kt_modal_new_target">افزودن </a>
                    <!--end::Action-->
                </div>
                <!--end::Heading-->
                <!--begin::Illustration-->
                <div class="text-center px-5">
                    <img src="/assets/media/illustrations/statistics.png" alt="" class="mw-100 mh-300px">
                </div>
                <!--end::Illustration-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
        <!--begin::Modal - هدف جدید-->
        <div class="modal fade" id="kt_modal_new_target" tabindex="-1" aria-hidden="true">
            <!--begin::Modal dialog-->
            <div class="modal-dialog modal-dialog-centered mw-650px">
                <!--begin::Modal content-->
                <div class="modal-content rounded">
                    <!--begin::Modal header-->
                    <div class="modal-header pb-0 bیاder-0 justify-content-end">
                        <!--begin::Close-->
                        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                            <span class="svg-icon svg-icon-1">
														<svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                             height="24px" viewBox="0 0 24 24" version="1.1">
															<g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                               fill="#000000">
																<rect fill="#000000" x="0" y="7" width="16" height="2"
                                                                      rx="1"></rect>
																<rect fill="#000000" opacity="0.5"
                                                                      transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                                                      x="0" y="7" width="16" height="2" rx="1"></rect>
															</g>
														</svg>
													</span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Close-->
                    </div>
                    <!--begin::Modal header-->
                    <!--begin::Modal body-->
                    <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                        <br>
                        {% for message in app.flashes('notice') %}
                            <div class="justify-content-center bg-light border-5">
                                <span class="text-muted">{{ message }}</span>
                            </div>
                        {% endfor %}

                        <!--begin:Fیاm-->
                        {# <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#"> #}
                        {{ form_start(form,
                            {'attr':{ 'id': 'kt_modal_new_target_form', 'class': 'form fv-plugins-bootstrap5 fv-plugins-framework' }}) }}
                        <div class="mb-13 text-center">
                            <!--begin::Title-->
                            <h1 class="mb-3">تنظیم اولین هدف</h1>
                            <br>
                            <br>
                            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                                <!--begin::برچسب-->
                                <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                    <span class="required">نام اپلیکیشن</span>
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title=""
                                       data-bs-original-title="نام اپلیکیشین رو وارد کنید"
                                       aria-label="یک نام هدف را برای استفاده و مرجع در آینده مشخص کنید"></i>
                                </label>
                                <!--end::برچسب-->
                                {# <input type="text" class="form-control form-control-solid" placeholder="Enter عنوان هدف" name="target_title"> #}
                                {{ form_row(form.name) }}
                                {{ form_errors(form.name) }}
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                                <!--begin::برچسب-->
                                <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                    <span class="required">url اپلیکیشن</span>
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title=""
                                       data-bs-original-title="url سایت رو وارد کنید."
                                       aria-label="یک نام هدف را برای استفاده و مرجع در آینده مشخص کنید"></i>
                                </label>
                                <!--end::برچسب-->
                                {# <input type="text" class="form-control form-control-solid" placeholder="Enter عنوان هدف" name="target_title"> #}
                                {{ form_row(form.url) }}
                                {{ form_errors(form.url) }}
                                <div class="fv-plugins-message-container invalid-feedback">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" id="kt_modal_new_target_submit" class="btn btn-primary">
                                    <span class="indicator-label">ثبت</span>
                                    <span class="indicator-progress">لطفا صبر کنید
                                                            <span class="spinner-bیاder spinner-bیاder-sm align-middle ms-2"></span></span>
                                </button>
                            </div>
                            {{ form_end(form) }}
                            <!--end:Fیاm-->
                        </div>
                        <!--end::Modal body-->
                    </div>
                    <!--end::Modal content-->
                </div>
                <!--end::Modal dialog-->
            </div>
            <!--end::Modal - هدف جدید-->
        </div>
        <!--end::Container-->
    </div>
    {% endblock %}
