{% extends 'fornt_page/index.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock title %}

{% block main %}

    <section class="title " style=" margin-top: 100px; margin-bottom: 100px">
        <div class="container-fluid">
            <div class="row pt-10 pb-10 " style="margin-bottom: 30px; margin-top: 70px;">
                <div class="col-12 text-center mb-10">
                    <img style="max-height: 300px" src="{{asset('uploads/image_article') }}/{{ article.image }}">
                </div>
            </div>
        </div>
        <div class="container mt-10">
            <div class="row  mb20 justify-content-center">
                <div class="col">
                    <span class="text-muted" style="font-size: 40px;">{{ article.title }}</span>
                </div>
            </div>
        </div>
    </section>

    <section class="text-body" style="margin-bottom: 100px">
        <div class="container">
            <div  class="row">
                <div class="col">
                    {{ article.body|raw }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}